---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
"colors",
"base",
"header"
;

// Variables
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.25;

$spacing-unit:     30px;

$on-palm:          600px;
$on-laptop:        800px;


// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Basic styling
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    margin: 0;
}

.category {
  text-transform: uppercase;
}

.border-bottom {
  border-bottom: $brand-color 1px dashed;
}

a {
  text-decoration: none;
  color: $link-color;
  &:hover {
    color: lighten($link-color, 10%);
  }
}

a .icon {
  fill: $link-color;
  &:hover {
    fill: lighten($link-color, 10%);
  }
}

footer .icon {
  height: 15px;
  width: 15px;
}

footer {
  font-size: 0.85em;
}

footer a, footer a .icon{
  color: $header !important;
  fill: $header !important;
  &:hover {
    color: #a75f29 !important;
    fill: #a75f29 !important;
  }
}

.ingredient p {
  margin: 0;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

ul.unstyled {
  list-style: none;
  border-left: 8px solid #ccc;
  padding-inline-start: 1em;
}

.icon, .star-icon {
  height: 18px;
  width: 18px;
}

.star-icon {
  fill: $grey-color;
}

$card-width: 250px;
.card {
  margin-right: 1.5rem!important;
  background: white;
  /* border: 1px solid #ccc; */
  padding: 0.5em 1em;
  width: $card-width;
  margin-bottom: 1.5rem;
  border-radius: 4px;
  // box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  display: flex;
  flex-direction: column;
}

.card-image, .image-placeholder {
  width: $card-width - 32px;
  height: $card-width - 32px;
}

.image-placeholder {
  background: #ddd;
}

.category {
  color: $accent-color;
}

.accent, .accent p {
  color: $accent-color;
}
