<footer>
  <nav class="d-flex justify-content-between my-2">
    <p class="rss-subscribe m-0">subscribe <a href="{{site.baseurl}}/feed.xml">via RSS</a></p>
    <a href="https://github.com/flaneuse" target="_blank" class="d-flex align-items-center">
      <svg class="icon mr-2">
        <use xlink:href="/recipes/assets/icons.svg#github"></use>
      </svg>
      <div>
        @flaneuse
      </div>
    </a>

    <a href="https://twitter.com/flaneuseks" target="_blank" class="d-flex align-items-center">
      <svg class="icon mr-2">
        <use xlink:href="/recipes/assets/icons.svg#twitter"></use>
      </svg>
      <div>
        @flaneuseks
      </div>
    </a>

    <p class="m-0">
      <span class="mr-2">
        &copy; {{ 'now' | date: "%Y" }}
      </span>
      <span>
        Laura D. Hughes
      </span>
    </p>
  </nav>
</footer>
